@font-face {
  font-family: 'PoundShopttf';
  src:  url('../fonts/PoundShop.eot?5jwxds');
  src:  url('../fonts/PoundShop.eot?5jwxds#iefix') format('embedded-opentype'),
    url('../fonts/PoundShop.ttf?5jwxds') format('truetype'),
    url('../fonts/PoundShop.woff?5jwxds') format('woff'),
    url('../fonts/PoundShop.svg?5jwxds#PoundShop') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'PoundShopttf' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.size-sm{ font-size: 10px; }
.size-md{ font-size: 13px; }
.size-lg{ font-size: 16px; }

.icon-General-Info-1:before {
  content: "\e916";
}
.icon-Contact-Info-2:before {
  content: "\e917";
}
.icon-Payment-3:before {
  content: "\e918";
}
.icon-Reference:before {
  content: "\e919";
}
.icon-Terms--Conditions:before {
  content: "\e91a";
}
.icon-Stock:before {
  content: "\e91b";
}
.icon-Sale:before {
  content: "\e91c";
}
.icon-Supplier:before {
  content: "\e91d";
}
.icon-Purchse-Order:before {
  content: "\e91e";
}
.icon-Budget:before {
  content: "\e91f";
}
.icon-Stock1:before {
  content: "\e920";
}
.icon-Order:before {
  content: "\e921";
}
.icon-Product:before {
  content: "\e922";
}
.icon-Brand:before {
  content: "\e923";
}
.icon-Product-Status:before {
  content: "\e924";
}
.icon-Margin-Rate-of-Sale:before {
  content: "\e925";
}
.icon-Barcode:before {
  content: "\e926";
}
.icon-Filter:before {
  content: "\e927";
}
.icon-Add-PO:before {
  content: "\e928";
}
.icon-Search:before {
  content: "\e929";
}
.icon-Refresh:before {
  content: "\e92a";
}
.icon-Edit:before {
  content: "\e92b";
}
.icon-Delete:before {
  content: "\e92c";
}
.icon-Drop-Down-1:before {
  content: "\e92d";
}
.icon-Drop-Down2:before {
  content: "\e92e";
}
.icon-Drop-Down2-copy:before {
  content: "\e92f";
}
.icon-Drop-Down2-copy-2:before {
  content: "\e930";
}
.icon-Dashboard:before {
  content: "\e931";
}
.icon-Buyers-Inquiry-2:before {
  content: "\e932";
}
.icon-Book-In-Request:before {
  content: "\e933";
}
.icon-Goods-In:before {
  content: "\e934";
}
.icon-Storage:before {
  content: "\e935";
}
.icon-Customers:before {
  content: "\e936";
}
.icon-Drop-Shipping:before {
  content: "\e937";
}
.icon-Pick-Pack-Shipping:before {
  content: "\e938";
}
.icon-Spot-Check:before {
  content: "\e939";
}
.icon-Stock-Control:before {
  content: "\e93a";
}
.icon-Invoice-Matching .path1:before {
  content: "\e93b";
  color: rgb(0, 0, 0);
}
.icon-Invoice-Matching .path2:before {
  content: "\e93c";
  margin-left: -0.841796875em;
  color: rgb(0, 0, 0);
}
.icon-Invoice-Matching .path3:before {
  content: "\e93d";
  margin-left: -0.841796875em;
  color: rgb(255, 255, 255);
}
.icon-Invoice-Matching .path4:before {
  content: "\e93e";
  margin-left: -0.841796875em;
  color: rgb(255, 255, 255);
}
.icon-Invoice-Matching .path5:before {
  content: "\e93f";
  margin-left: -0.841796875em;
  color: rgb(255, 255, 255);
}
.icon-Invoice-Matching .path6:before {
  content: "\e940";
  margin-left: -0.841796875em;
  color: rgb(255, 255, 255);
}
.icon-Invoice-Matching .path7:before {
  content: "\e941";
  margin-left: -0.841796875em;
  color: rgb(255, 255, 255);
}
.icon-Setting:before {
  content: "\e942";
}
.icon-Mail:before {
  content: "\e943";
}
.icon-Add-Suplier:before {
  content: "\e944";
}
.icon-Profile:before {
  content: "\e945";
}
.icon-Logout:before {
  content: "\e946";
}
.icon-Dispatch:before {
  content: "\e947";
}
.icon-Menu:before {
  content: "\e948";
}
.icon-Order-Processing:before {
  content: "\e949";
}
.icon-Order-Management:before {
  content: "\e94a";
}
.icon-Reporting:before {
  content: "\e94b";
}
.icon-Spot-Check-2:before {
  content: "\e94c";
}
.icon-Invoice-Matching-2:before {
  content: "\e94d";
}
.icon-Review:before {
  content: "\e94e";
}
.icon-Reporting1 .path1:before {
  content: "\e94f";
  color: rgb(0, 0, 0);
}
.icon-Reporting1 .path2:before {
  content: "\e950";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-Reporting1 .path3:before {
  content: "\e951";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-Reporting1 .path4:before {
  content: "\e952";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-Reporting1 .path5:before {
  content: "\e953";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-Reporting1 .path6:before {
  content: "\e954";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-Reporting1 .path7:before {
  content: "\e955";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Reporting1 .path8:before {
  content: "\e956";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-Pick-Pack-Shipping- .path1:before {
  content: "\e957";
  color: rgb(0, 0, 0);
}
.icon-Pick-Pack-Shipping- .path2:before {
  content: "\e958";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-Pick-Pack-Shipping- .path3:before {
  content: "\e959";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-Pick-Pack-Shipping- .path4:before {
  content: "\e95a";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-Pick-Pack-Shipping- .path5:before {
  content: "\e95b";
  margin-left: -1em;
  color: rgb(255, 253, 253);
}
.icon-Pick-Pack-Shipping- .path6:before {
  content: "\e95c";
  margin-left: -1em;
  color: rgb(255, 253, 253);
}
.icon-Pick-Pack-Shipping- .path7:before {
  content: "\e95d";
  margin-left: -1em;
  color: rgb(255, 253, 253);
}
.icon-Reporting- .path1:before {
  content: "\e95e";
  color: rgb(0, 0, 0);
}
.icon-Reporting- .path2:before {
  content: "\e95f";
  margin-left: -0.8134765625em;
  color: rgb(0, 0, 0);
}
.icon-Reporting- .path3:before {
  content: "\e960";
  margin-left: -0.8134765625em;
  color: rgb(255, 255, 255);
}
.icon-Reporting- .path4:before {
  content: "\e961";
  margin-left: -0.8134765625em;
  color: rgb(255, 255, 255);
}
.icon-Reporting- .path5:before {
  content: "\e962";
  margin-left: -0.8134765625em;
  color: rgb(255, 255, 255);
}
.icon-Reporting- .path6:before {
  content: "\e963";
  margin-left: -0.8134765625em;
  color: rgb(255, 255, 255);
}
.icon-Reporting- .path7:before {
  content: "\e964";
  margin-left: -0.8134765625em;
  color: rgb(255, 255, 255);
}
.icon-Reporting- .path8:before {
  content: "\e965";
  margin-left: -0.8134765625em;
  color: rgb(255, 255, 255);
}
.icon-Reporting2:before {
  content: "\e966";
}
.icon-BreakLink:before {
  content: "\e967";
}
.icon-Download:before {
  content: "\e968";
}
.icon-Menu1:before {
  content: "\e969";
}
.icon-Add:before {
  content: "\e96a";
}
.icon-Reverse-Purchse-Order-copy .path1:before {
  content: "\e96b";
  color: rgb(3, 1, 4);
}
.icon-Reverse-Purchse-Order-copy .path2:before {
  content: "\e96c";
  margin-left: -1.0068359375em;
  color: rgb(3, 1, 4);
}
.icon-Reverse-Purchse-Order-copy .path3:before {
  content: "\e96d";
  margin-left: -1.0068359375em;
  color: rgb(3, 1, 4);
}
.icon-Reverse-Purchse-Order-copy .path4:before {
  content: "\e96e";
  margin-left: -1.0068359375em;
  color: rgb(3, 1, 4);
}
.icon-Reverse-Purchse-Order-copy .path5:before {
  content: "\e96f";
  margin-left: -1.0068359375em;
  color: rgb(3, 1, 4);
}
.icon-Reverse-Purchse-Order-copy .path6:before {
  content: "\e970";
  margin-left: -1.0068359375em;
  color: rgb(3, 1, 4);
}
.icon-Reverse-Purchse-Order-copy .path7:before {
  content: "\e971";
  margin-left: -1.0068359375em;
  color: rgb(3, 1, 4);
}
.icon-Reverse-Purchse-Order-copy .path8:before {
  content: "\e972";
  margin-left: -1.0068359375em;
  color: rgb(255, 255, 255);
}
.icon-Reverse-Purchse-Order-copy .path9:before {
  content: "\e973";
  margin-left: -1.0068359375em;
  color: rgb(0, 0, 0);
}
.icon-Purchase-Order:before {
  content: "\e974";
}
.icon-Reverse-Purchse-Order:before {
  content: "\e975";
}
.icon-Arrow-Down:before {
  content: "\e976";
}
.icon-Arrow-up:before {
  content: "\e977";
}
.icon-close1:before {
  content: "\e978";
}
.icon-Link:before {
  content: "\e979";
}
.icon-Close:before {
  content: "\e97a";
}
.icon-Select:before {
  content: "\e97b";
}
.icon-Right-Arrow:before {
  content: "\e97c";
}
.icon-Inventory:before {
  content: "\e97d";
}
.icon-Inventory-:before {
  content: "\e97e";
}
.icon-Inventory-Manager:before {
  content: "\e97f";
}
.icon-Listing-Manager-:before {
  content: "\e980";
}
.icon-Listing-Manager-2 .path1:before {
  content: "\e981";
  color: rgb(3, 1, 4);
}
.icon-Listing-Manager-2 .path2:before {
  content: "\e982";
  margin-left: -0.783203125em;
  color: rgb(3, 1, 4);
}
.icon-Listing-Manager-2 .path3:before {
  content: "\e983";
  margin-left: -0.783203125em;
  color: rgb(3, 1, 4);
}
.icon-Listing-Manager-2 .path4:before {
  content: "\e984";
  margin-left: -0.783203125em;
  color: rgb(0, 0, 0);
}
.icon-Listing-Manager-2 .path5:before {
  content: "\e985";
  margin-left: -0.783203125em;
  color: rgb(0, 0, 0);
}
.icon-Listing-Manager-2 .path6:before {
  content: "\e986";
  margin-left: -0.783203125em;
  color: rgb(0, 0, 0);
}
.icon-Listing-Manager-2 .path7:before {
  content: "\e987";
  margin-left: -0.783203125em;
  color: rgb(0, 0, 0);
}
.icon-Listing-Manager-2 .path8:before {
  content: "\e988";
  margin-left: -0.783203125em;
  color: rgb(0, 0, 0);
}
.icon-Listing-Manager-2 .path9:before {
  content: "\e989";
  margin-left: -0.783203125em;
  color: rgb(0, 0, 0);
}
.icon-Listing-Manager-2 .path10:before {
  content: "\e98a";
  margin-left: -0.783203125em;
  color: rgb(0, 0, 0);
}
.icon-Listing-Manager-2 .path11:before {
  content: "\e98b";
  margin-left: -0.783203125em;
  color: rgb(0, 0, 0);
}
.icon-Listing-Manager-2 .path12:before {
  content: "\e98c";
  margin-left: -0.783203125em;
  color: rgb(0, 0, 0);
}
.icon-Listing-Manager-2 .path13:before {
  content: "\e98d";
  margin-left: -0.783203125em;
  color: rgb(0, 0, 0);
}
.icon-Stock-Management:before {
  content: "\e98e";
}
.icon-Put-Away:before {
  content: "\e98f";
  color: rgb(0, 0, 0);
}
.icon-Put-Away .path2:before {
  content: "\e990";
  margin-left: -0.90625em;
  color: rgb(0, 0, 0);
}
.icon-Put-Away .path3:before {
  content: "\e991";
  margin-left: -0.90625em;
  color: rgb(255, 255, 255);
}
.icon-Put-Away .path4:before {
  content: "\e992";
  margin-left: -0.90625em;
  color: rgb(255, 255, 255);
}
.icon-Buying:before {
  content: "\e993";
}
.icon-Buying1:before {
  content: "\e994";
}
.icon-Role-Management:before {
  content: "\e995";
}
.icon-User-Management:before {
  content: "\e996";
}
.icon-Site-Master:before {
  content: "\e997";
}
.icon-Location-Active:before {
  content: "\e998";
}
.icon-Location-inctive-copy:before {
  content: "\e999";
}
.icon-Terms--Condiions .path1:before {
  content: "\e99a";
  color: rgb(255, 255, 255);
}
.icon-Terms--Condiions .path2:before {
  content: "\e99b";
  margin-left: -1.0234375em;
  color: rgb(255, 255, 255);
}
.icon-Terms--Condiions .path3:before {
  content: "\e99c";
  margin-left: -1.0234375em;
  color: rgb(255, 255, 255);
}
.icon-Terms--Condiions .path4:before {
  content: "\e99d";
  margin-left: -1.0234375em;
  color: rgb(0, 0, 0);
}
.icon-Terms--Condiions .path5:before {
  content: "\e99e";
  margin-left: -1.0234375em;
  color: rgb(0, 0, 0);
}
.icon-Terms--Condiions .path6:before {
  content: "\e99f";
  margin-left: -1.0234375em;
  color: rgb(255, 255, 255);
}
.icon-Terms--Condiions .path7:before {
  content: "\e9a0";
  margin-left: -1.0234375em;
  color: rgb(255, 255, 255);
}
.icon-Terms--Condiions .path8:before {
  content: "\e9a1";
  margin-left: -1.0234375em;
  color: rgb(255, 255, 255);
}
.icon-References:before {
  content: "\e9a2";
}
.icon-Warehouse-Setting:before {
  content: "\e9a3";
}
.icon-Copy:before {
  content: "\e9a4";
}
.icon-Tax-Setting .path1:before {
  content: "\e9a5";
  color: rgb(0, 0, 0);
}
.icon-Tax-Setting .path2:before {
  content: "\e9a6";
  margin-left: -0.8212890625em;
  color: rgb(0, 0, 0);
}
.icon-Tax-Setting .path3:before {
  content: "\e9a7";
  margin-left: -0.8212890625em;
  color: rgb(0, 0, 0);
}
.icon-Tax-Setting .path4:before {
  content: "\e9a8";
  margin-left: -0.8212890625em;
  color: rgb(255, 255, 255);
}
.icon-Finance:before {
  content: "\e9a9";
}
.icon-Replen:before {
  content: "\e9aa";
}
.icon-Stock_movement:before {
  content: "\e9ab";
}
.icon-Active:before {
  content: "\e9ac";
}
.icon-Inactive:before {
  content: "\e9ad";
}
.icon-VIP_Customer:before {
  content: "\e9ae";
}
.icon-Regular_Custom:before {
  content: "\e9af";
}
.icon-Range_Manangement:before {
  content: "\e9b0";
}
.icon-Category_Mapping:before {
  content: "\e9b1";
}
.icon-Import_Shipping_Cost:before {
  content: "\e9b2";
}
.icon-Print:before {
  content: "\e9b3";
}
.icon-Add1:before {
  content: "\e9b4";
}
.icon-Supplier-Delivery-Note:before {
  content: "\e9b5";
}
.icon-Forword-Arrow:before {
  content: "\e9b6";
}
.icon-Scan-Barcode:before {
  content: "\e9b7";
}
.icon-Information:before {
  content: "\e9b8";
}
.icon-Back-Arrow:before {
  content: "\e9b9";
}
.icon-Add-Image:before {
  content: "\e9ba";
}
.icon-Customization:before {
  content: "\e9bb";
}
.icon-Cancel:before {
  content: "\e9bc";
}
.icon-Add-Product-Image:before {
  content: "\e9bd";
}
.icon-Scan-Bar-Code:before {
  content: "\e9be";
}
.icon-Customer-Return:before {
  content: "\e9bf";
}
.icon-Stock-Take:before {
  content: "\e9c0";
}
.icon-perpetual-inventory .path1:before {
  content: "\e9c1";
  color: rgb(5, 4, 4);
}
.icon-perpetual-inventory .path2:before {
  content: "\e9c2";
  margin-left: -0.88671875em;
  color: rgb(17, 12, 12);
}
.icon-perpetual-inventory .path3:before {
  content: "\e9c3";
  margin-left: -0.88671875em;
  color: rgb(17, 12, 12);
}
.icon-perpetual-inventory .path4:before {
  content: "\e9c4";
  margin-left: -0.88671875em;
  color: rgb(17, 12, 12);
}
.icon-perpetual-inventory .path5:before {
  content: "\e9c5";
  margin-left: -0.88671875em;
  color: rgb(12, 11, 11);
}
.icon-perpetual-inventory .path6:before {
  content: "\e9c6";
  margin-left: -0.88671875em;
  color: rgb(255, 255, 255);
}
.icon-Audit-Trail:before {
  content: "\e9c7";
}
.icon-Pick-Order:before {
  content: "\e9c8";
}
.icon-Pack-Order:before {
  content: "\e9c9";
}
.icon-Tax-payment-of-Purchase-Order:before {
  content: "\e9ca";
}
.icon-Goods-Inward:before {
  content: "\e9cb";
}
.icon-Stock-Adjustment:before {
  content: "\e9cc";
}
.icon-QC-Checklist:before {
  content: "\e9cd";
}
.icon-General-Configuration:before {
  content: "\e9ce";
}
.icon-Booking-Time:before {
  content: "\e9cf";
}
.icon-Box-Master:before {
  content: "\e9d0";
}
.icon-Pallets-Master:before {
  content: "\e9d1";
}
.icon-Currancy-Exchange:before {
  content: "\e9d2";
}
.icon-Complete:before {
  content: "\e9d3";
}
.icon-Close1:before {
  content: "\e9d4";
}
.icon-Payment-Supplier-Report:before {
  content: "\e9d5";
}
.icon-Quantity-Recived-Report:before {
  content: "\e9d6";
}